{% load static %}
{% load widget_tweaks %}


<!-- plugins:css -->
<link rel="stylesheet" href="{% static 'admin_data/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_data/vendors/iconfonts/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_data/vendors/css/vendor.bundle.addons.css' %}">
<link rel="stylesheet" href="{% static 'admin_data/vendors/css/vendor.bundle.base.css'%}"><!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{% static 'admin_data/css/horizontal-layout/style.css'%}">
<!-- endinject -->
<link rel="shortcut icon" href="{% static 'admin_data/images/favicon.png'%}" />
