{% load static%}
{% load widget_tweaks%}
<footer class="footer-area">
  
    <div class="footer-bottom">
        <div class="container pt--0 pb--0">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom-content">
                        <p class="copyright"> Made with <i class="icofont-heart"></i> by <a
                                target="_blank"
                                href="https://creddos.com/"> Bhanudas Rane. </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</footer>